extends layout
block content 
  h2 My Sets
  console.log(flashCardSets)
  console.log(flashCardSet)
    //Check if there are any flash card sets
    if flashCardSets.length > 0
        ul
            each set in flashCardSets
                li
                    h2 #{set.name}
                    p #{set.topic}
    else
        p You have no flash card sets.
.col-md-6
table(style="width:80%; margin:auto; border:3px darkblue; box-shadow:5px 3px 3px darkgrey;")
  thead 
    tr
      th(style="text-align:center; border:2px darkblue") Title 
      th(style="text-align:center;") Topic 
    tbody
      each set in flashCardSets 
      tr 
        td(style="border:3px darkblue;") #{set.name}
        td(style="border:3px solid darkblue;") #{set.topic}
