extends layout

mixin flashCardSet(content)
  li= content 

mixin cardList(cards)
  ul 
    each card in cards
      +flashCardSet(card)

mixin box(title)
  div.box
  h2= title
  block 

block content
  .col-md-6
    h2 Create New Study Set
    form(href='/', method="POST")
      p Content to generate from :
        input(type='hidden', name='_csrf', value=_csrf, id="srcInput")
        input(type="text", name="term", placeholder=" ")
        input(type="submit", class="btnNew")

  .col-md-6 
    +box('Testing Title4')
    +flashCardSet(['test', 'test 2'])
    +flashCardSet(['example', 'example2'])
