extends layout

mixin flashCardSet(content)
  li= content 

mixin cardList(cards)
  ul 
    each card in cards
      +flashCardSet(card)

mixin box(title)
  div.box
  h2= title
  block 

block content
  .col-md-6
    h2 Create New Study Set
    form(action="/submit" method="POST" style="")
      p(style="text-decoration:underline;") Content to generate from :
        input(type='hidden', name='_csrf', value=_csrf)
        input(type="text", name="userInput", placeholder="Generate StudE Cards" style=" width:900px; height:300px; margin:auto; " )
        input(type="submit", name="Generate StudE Cards", class="btnNew")

  .col-md-6 
    +box('Testing Title4')
    +flashCardSet(['test', 'test 2'])
    +flashCardSet(['example', 'example2'])
