doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Home Page
  // <link rel="stylesheet" href="styles.css">
  script(src='script.js')
header
  a.button(href='landing.html') Go to Landing Page
section.createNewCard
  h1 New Study Set
  form
    label(for='') Term
    input#cardFront(type='text' name='cardFront')
    br
    label(for='') Content
    input#cardBack(type='text' name='cardBack')
    br
    button(type='submit' onclick='addCardToSet()') Create Card
section.displayCardSet
  h2(style='color:pink;') Study Set Name
  table
    thead
      tr
        th Front
        th Back
    tbody#cardSet
