extends layout

mixin box(title, topic)
  div.box
  h3= title
  h5= topic
  block 

block content
  h1 StudEBuddy
  p.lead Study Smarter

  hr
  .row
    .col-md-6(style='display: flex; flex-direction: column; align-items: flex-start; padding: 10px;')
      h2(style="color:blue; margin-bottom:15px; text-decoration:underline;") My Sets
      div(style=" display:flex; flex-direction:column; gap:10px;")
        +box('Title 1', 'topic')
        +box('Title 2', 'topic2')
          <br>
          p(style="align-self:flex-end; margin-top:10px;") topic2
      a.btn.btn-primary(href='/cardsOverview', role='button') Show all sets »
    .col-md-6
      h2 Quick Start
      form(href ='/', method="POST")
        p Passage to generate from:
        input(type='hidden', name='_csrf', value=_csrf)
        input(type="submit", href="cardsOverview" style="margin:5px; box-shadow: 3px 3px 5px black;")
        input(type="text", name="term", placeholder=" " style="height:500px; width:600px; box-shadow:3px 3px 5px darkgrey;")

      