extends layout

mixin box(title, topic)
  div.box
  h3= title
  h5= topic
  block 

block content
  h1 StudEBuddy
  p.lead Study Smarter

  hr
  .row
    .col-md-6(style='display:flex; border:5px solid lightblue;')
      h2 My Sets
      div(style="display:flex; gap:30px;")
        +box('Title 1', 'topic', style="background-color:pink;")
          <br> 
        +box('Title 2', 'topic2')
          <br>
          p(align-self:flex-end) topic2
      a.btn.btn-primary(href='/cardsOverview', role='button') Show all sets »
    .col-md-6
      h2 Quick Start
      form(href ='/', method="POST")
        p Passage to generate from:
        input(type='hidden', name='_csrf', value=_csrf)
        input(type="text", name="term", placeholder=" ")
        input(type="submit", href="cardsOverview")

      