extends layout

mixin box(title)
  div.box
  h2= title
  block 

block content
  h1 StudEBuddy
  p.lead Study Smarter

  hr
  .row
    .col-md-6
      h2 My Sets
      +box(Title 1)
        p topic 
      +box(Title 2)
        p topic2
      a.btn.btn-primary(href='/cardsOverview', role='button') Show all sets »
    .col-md-6
      h2 Quick Start
      form(href ='/', method="POST")
        p Title:
        input(type='hidden', name='_csrf', value=_csrf)
        input(type="text", name="term", placeholder=" ")
        input(type="submit", class="btnNew")
    .col-md-6
      h2 Quick Start
      a.btn.btn-primary(href='#', role='button') View details »
      